#navbar {
	background-color: #595959;
	width: 100%;
	height: 5%;
	position: fixed;
}

#cololrCanvas {
	background-color: #ededed;
	width: 80%;
	height: 100%;
	float: left;
}

#dashboard {
	background-color: #bdbdbd;
	width: 20%;
	height: 100%;
	float: right;
}