body {
	margin: 0;
	overflow: hidden;
}


.colorCanvas {
	background-color: #2f2f2f;
	width: 100%;
	height: 100vh;
	float: left;
	display: flex;
	flex
}

.palleteColor {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 3vw;
}


.dashboard {
	position: fixed;
	right: 0;
	background-color: transparent;
	width: 20%;
	height: 40vh;
	float: right;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.row {
	width: 94%;
	display: flex;
	flex-direction: row;
	margin: 3%;
	align-items: stretch;
}

.dashboardButton {
	background-color: #f1f1ed;
	height: 3vh;
	width: 100%;
	border-radius: 3px;
	border: 1px solid #444444;
	margin: 0.25em;
}
.dashboardButton:hover {
	background-color: #d0d0c5;
}

.palleteColor p {
	background-color: #fafaf0;
	border-radius: 23px;
}

i {
	padding: 0.4em;
}
i:hover {
	cursor: pointer;
}